@charset "UTF-8";
/*! Struct -- https://hypered.design/struct */ /*  ----------------------------------------------------------------------------
    Reset CSS (Eric Meyer's)
    ------------------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/IBMPlexSans-Regular.woff2") format("woff2"), url("/static/fonts/IBMPlexSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/static/fonts/IBMPlexSans-Medium.woff2") format("woff2"), url("/static/fonts/IBMPlexSans-Medium.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/static/fonts/IBMPlexSans-SemiBold.woff2") format("woff2"), url("/static/fonts/IBMPlexSans-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/IBMPlexSans-Bold.woff2") format("woff2"), url("/static/fonts/IBMPlexSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "Fallback for IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Arial");
  ascent-override: 102.5%;
  descent-override: 27.5%;
  line-gap-override: 0%;
}
@font-face {
  font-family: "Fallback for IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Arial");
  ascent-override: 102.5%;
  descent-override: 27.5%;
  line-gap-override: 0%;
}
@font-face {
  font-family: "Fallback for IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Arial");
  ascent-override: 102.5%;
  descent-override: 27.5%;
  line-gap-override: 0%;
}
@font-face {
  font-family: "Fallback for IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Arial");
  ascent-override: 102.5%;
  descent-override: 27.5%;
  line-gap-override: 0%;
}
body {
  font-family: "IBM Plex Sans", "Fallback for IBM Plex Sans";
}

/* Generated by hypered-design. */
:root {
  --step-a-5: clamp(1.8020rem, 1.8020rem + 0.0000vw, 1.8020rem);
  --step-a-4: clamp(1.6018rem, 1.6018rem + 0.0000vw, 1.6018rem);
  --step-a-3: clamp(1.4238rem, 1.4238rem + 0.0000vw, 1.4238rem);
  --step-a-2: clamp(1.2656rem, 1.2656rem + 0.0000vw, 1.2656rem);
  --step-a-1: clamp(1.1250rem, 1.1250rem + 0.0000vw, 1.1250rem);
  --step-a-0: clamp(1.0000rem, 1.0000rem + 0.0000vw, 1.0000rem);
  --step-a--1: clamp(0.8889rem, 0.8889rem + 0.0000vw, 0.8889rem);
  --step-a--2: clamp(0.7901rem, 0.7901rem + 0.0000vw, 0.7901rem);
}

:root {
  --step-b-5: clamp(2.4883rem, 2.0123rem + 2.3802vw, 4.2140rem);
  --step-b-4: clamp(2.0736rem, 1.7738rem + 1.4992vw, 3.1605rem);
  --step-b-3: clamp(1.7280rem, 1.5508rem + 0.8860vw, 2.3704rem);
  --step-b-2: clamp(1.4400rem, 1.3468rem + 0.4659vw, 1.7778rem);
  --step-b-1: clamp(1.2000rem, 1.1632rem + 0.1839vw, 1.3333rem);
  --step-b-0: clamp(1.0000rem, 1.0000rem + 0.0000vw, 1.0000rem);
  --step-b--1: clamp(0.8333rem, 0.8563rem + -0.1149vw, 0.7500rem);
  --step-b--2: clamp(0.6944rem, 0.7308rem + -0.1820vw, 0.5625rem);
}

:root {
  --step-c-5: clamp(2.4883rem, 1.7217rem + 3.8333vw, 5.2675rem);
  --step-c-4: clamp(2.0736rem, 1.5558rem + 2.5890vw, 3.9506rem);
  --step-c-3: clamp(1.7280rem, 1.3873rem + 1.7034vw, 2.9630rem);
  --step-c-2: clamp(1.4400rem, 1.2242rem + 1.0789vw, 2.2222rem);
  --step-c-1: clamp(1.2000rem, 1.0713rem + 0.6437vw, 1.6667rem);
  --step-c-0: clamp(1.0000rem, 0.9310rem + 0.3448vw, 1.2500rem);
  --step-c--1: clamp(0.8333rem, 0.8046rem + 0.1437vw, 0.9375rem);
  --step-c--2: clamp(0.6944rem, 0.6920rem + 0.0120vw, 0.7031rem);
}

:root {
  --step-d-5: clamp(1.5552rem, -1.3761rem + 14.6564vw, 12.1811rem);
  --step-d-4: clamp(1.2960rem, -0.8667rem + 10.8135vw, 9.1358rem);
  --step-d-3: clamp(1.0800rem, -0.5122rem + 7.9612vw, 6.8519rem);
  --step-d-2: clamp(0.9000rem, -0.2693rem + 5.8467vw, 5.1389rem);
  --step-d-1: clamp(0.7500rem, -0.1063rem + 4.2816vw, 3.8542rem);
  --step-d-0: clamp(0.6250rem, 0.0000rem + 3.1250vw, 2.8906rem);
  --step-d--1: clamp(0.5208rem, 0.0665rem + 2.2719vw, 2.1680rem);
  --step-d--2: clamp(0.4340rem, 0.1052rem + 1.6441vw, 1.6260rem);
}

:root {
  --space-3xs: clamp(0.2500rem, 0.2328rem + 0.0862vw, 0.3125rem);
  --space-2xs: clamp(0.5000rem, 0.4655rem + 0.1724vw, 0.6250rem);
  --space-xs: clamp(0.7500rem, 0.6983rem + 0.2586vw, 0.9375rem);
  --space-s: clamp(1.0000rem, 0.9310rem + 0.3448vw, 1.2500rem);
  --space-m: clamp(1.5000rem, 1.3966rem + 0.5172vw, 1.8750rem);
  --space-l: clamp(2.0000rem, 1.8621rem + 0.6897vw, 2.5000rem);
  --space-xl: clamp(3.0000rem, 2.7931rem + 1.0345vw, 3.7500rem);
  --space-2xl: clamp(4.0000rem, 3.7241rem + 1.3793vw, 5.0000rem);
  --space-3xl: clamp(6.0000rem, 5.5862rem + 2.0690vw, 7.5000rem);
}

:root {
  --space-m-l: clamp(1.5000rem, 1.2241rem + 1.3793vw, 2.5000rem);
}

:root {
  --grid-max-width: 148rem;
  --grid-gutter: var(--space-m-l);
  --grid-columns: 12;
}

.u-container {
  width: 100%;
  min-width: calc(15.1rem - 2 * var(--grid-gutter));
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-container-vertical {
  padding-block: var(--grid-gutter);
}

.u-container-top {
  padding-block-start: var(--grid-gutter);
}

.inset {
  padding: var(--grid-gutter);
}

.box {
  padding: var(--grid-gutter);
  border: 2px solid black;
}

.box--light {
  border: 2px solid #DDD;
}

.u-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u-bar__right ul li {
  display: inline;
  margin-left: var(--space-s);
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.switcher > * {
  --measure: 80ch;
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}

.switcher--bigger-left > :first-child {
  flex-grow: 2;
}

.switch-at-60rem > * {
  --measure: 37.5rem;
  flex-basis: calc((var(--measure) - 100%) * 999);
}

.switcher-0px {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 4px 0px;
}

.switcher-0px > * {
  --measure: 40ch;
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}

/* Used to display layouting primitives. This adds some padding so that the
   borders of other (displayed) layout primitives and placeholders don't touch
   each others.
 */
.wrapper {
  padding: calc(var(--grid-gutter) / 3);
  outline: 2px dashed purple;
}

.wrapper + .wrapper {
  margin-top: calc(var(--grid-gutter) / 3);
}

.bordered {
  border: 2px solid black;
}

.bordered-3 {
  border: 2px solid black;
  border-bottom: none;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
  grid-template-columns: repeat(12, 1fr);
}

/* */
h1, h2, h3, h4 {
  font-weight: 600;
}

h1 {
  letter-spacing: -0.15rem;
}

h2 {
  letter-spacing: -0.1rem;
}

h3 {
  letter-spacing: -0.05rem;
}

h1 {
  font-size: var(--step-c-4);
}

h2 {
  font-size: var(--step-c-3);
}

h3 {
  font-size: var(--step-c-2);
}

h4 {
  font-size: var(--step-c-1);
}

p {
  font-size: var(--step-c-0);
  line-height: 1.5em;
}

p small {
  font-size: var(--step-c--1);
  line-height: 1.5em;
}

em {
  font-style: italic;
}

.limit-p p {
  max-width: 42em;
}

.limit-40ch {
  max-width: 40ch;
}

.limit-42em {
  max-width: 42em;
}

.limit-50pc {
  max-width: calc(50% - var(--space-m) / 2);
}

.mute {
  color: #666;
}

.c-text a {
  color: blue;
  text-decoration: none;
}

.c-content a {
  color: blue;
  text-decoration: none;
}

pre {
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  background-color: #f2f2f2;
}

code {
  background-color: #f2f2f2;
  font-family: "DejaVu Sans Mono";
  font-size: 95%;
}

pre > code {
  line-height: 120%;
}

hr {
  font-size: var(--step-c-4); /* like h1, for flow spacing */
  color: black;
  background-color: black;
  width: 8rem;
  border: none;
  height: 0.125rem;
  margin: 2.125rem 0;
}

.hr-full {
  width: 100%;
}

.c-text h1 {
  font-size: var(--step-a-4);
}

.c-text h2 {
  font-size: var(--step-a-3);
}

.c-text h3 {
  font-size: var(--step-a-2);
}

.c-text h4 {
  font-size: var(--step-a-1);
}

.c-text p {
  font-size: var(--step-a-0);
  line-height: 1.5em;
}

.c-text p small {
  font-size: var(--step-a--1);
  line-height: 1.5em;
}

.c-text h1 {
  letter-spacing: 0rem;
}

.c-text h2 {
  letter-spacing: 0rem;
}

.c-text h3 {
  letter-spacing: 0rem;
}

.c-text label {
  font-weight: 600;
}

.c-text ul {
  list-style: disc;
  padding-left: 3rem;
}

.c-text ul li {
  line-height: 1.5em;
}

.c-content h1 {
  font-size: var(--step-b-4);
}

.c-content h2 {
  font-size: var(--step-b-3);
}

.c-content h3 {
  font-size: var(--step-b-2);
}

.c-content h4 {
  font-size: var(--step-b-1);
}

.c-content p {
  font-size: var(--step-b-0);
  line-height: 1.5em;
}

.c-content p small {
  font-size: var(--step-b--1);
  line-height: 1.5em;
}

.c-content ul {
  list-style: disc;
  padding-left: 3rem;
}
.c-content ul.no-disc {
  list-style: none;
  padding-left: 0;
}
.c-content ul.horizontal > li {
  display: inline-block;
}
.c-content ul.horizontal > *:not(:last-child) {
  margin-right: 1em;
}

.c-content ul li {
  line-height: 1.5em;
}

.type-scale-d h1 {
  font-size: var(--step-d-4);
}

.type-scale-d h2 {
  font-size: var(--step-d-3);
}

.type-scale-d h3 {
  font-size: var(--step-d-2);
}

.type-scale-d h4 {
  font-size: var(--step-d-1);
}

.type-scale-d p {
  font-size: var(--step-d-0);
  line-height: 1.5em;
}

.type-scale-d p small {
  font-size: var(--step-d--1);
  line-height: 1.5em;
}

.u-step-a-5, .u-step-a-4, .u-step-a-3, .u-step-a-2, .u-step-a-1 {
  font-weight: 600;
}

.u-step-a-5 {
  font-size: var(--step-a-5);
}

.u-step-a-4 {
  font-size: var(--step-a-4);
}

.u-step-a-3 {
  font-size: var(--step-a-3);
}

.u-step-a-2 {
  font-size: var(--step-a-2);
}

.u-step-a-1 {
  font-size: var(--step-a-1);
}

.u-step-a-0 {
  font-size: var(--step-a-0);
}

.u-step-a--1 {
  font-size: var(--step-a--1);
}

.u-step-a--2 {
  font-size: var(--step-a--2);
}

.u-step-b-5, .u-step-b-4, .u-step-b-3, .u-step-b-2, .u-step-b-1 {
  font-weight: 600;
}

.u-step-b-5 {
  font-size: var(--step-b-5);
}

.u-step-b-4 {
  font-size: var(--step-b-4);
}

.u-step-b-3 {
  font-size: var(--step-b-3);
}

.u-step-b-2 {
  font-size: var(--step-b-2);
}

.u-step-b-1 {
  font-size: var(--step-b-1);
}

.u-step-b-0 {
  font-size: var(--step-b-0);
}

.u-step-b--1 {
  font-size: var(--step-b--1);
}

.u-step-b--2 {
  font-size: var(--step-b--2);
}

.u-step-c-5, .u-step-c-4, .u-step-c-3, .u-step-c-2, .u-step-c-1 {
  font-weight: 600;
}

.u-step-c-5 {
  font-size: var(--step-c-5);
}

.u-step-c-4 {
  font-size: var(--step-c-4);
}

.u-step-c-3 {
  font-size: var(--step-c-3);
}

.u-step-c-2 {
  font-size: var(--step-c-2);
}

.u-step-c-1 {
  font-size: var(--step-c-1);
}

.u-step-c-0 {
  font-size: var(--step-c-0);
}

.u-step-c--1 {
  font-size: var(--step-c--1);
}

.u-step-c--2 {
  font-size: var(--step-c--2);
}

.u-step-d-5 {
  font-size: var(--step-d-5);
}

.u-step-d-4 {
  font-size: var(--step-d-4);
}

.u-step-d-3 {
  font-size: var(--step-d-3);
}

.u-step-d-2 {
  font-size: var(--step-d-2);
}

.u-step-d-1 {
  font-size: var(--step-d-1);
}

.u-step-d-0 {
  font-size: var(--step-d-0);
}

.label-step {
  font-size: 0.875rem;
  color: grey;
}

.debug-gap-color {
  background: #eed9eb;
}

.debug-column-color > span {
  font-size: 0.875rem;
  font-family: monospace;
  background: white;
}

.full-height {
  height: 100vh;
}

.flow {
  --flow-space: 1.4em;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.flow input {
  margin-top: calc(var(--flow-space) / 4);
}

.flow-all > * {
  --flow-space: 1.4em;
  margin-top: var(--flow-space);
}

.flow-all > *:last-child {
  --flow-space: 1.4em;
  margin-bottom: var(--flow-space);
}

.flow-all input {
  margin-top: calc(var(--flow-space) / 4);
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 600;
}

img.adapt {
  width: 100%;
}

.u-flow-c-4 {
  margin-top: calc(var(--step-c-4) * 1.4);
}

.u-flow-c-0 {
  margin-top: calc(var(--step-c-0) * 1.4);
}

.u-space-after-c-4 {
  margin-bottom: calc(var(--step-c-4) * 1.4);
}

.paragraph-70ch p {
  max-width: 70ch;
}

.limit-70ch {
  max-width: 70ch;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.with-sidebar .sidebar {
  flex-grow: 1;
}

.with-sidebar .main {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

/* Top-level wrapper to push the footer at the bottom of the viewport.
   This is useful when there is not enough content to push the footer
   down the page.
   This should be used on the main div, or directly on the body (and
   should directly enclose the footer).

   This could be extended to vertically center some main content:
   https://github.com/aprietof/every-layout/blob/master/layouts.css#L156-L185
*/
.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cover > main {
  margin-block: auto;
}

.cover > footer {
  margin-top: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.max-50rem {
  max-width: 50rem;
}

.max-40rem {
  max-width: 40rem;
}

.max-30rem {
  max-width: 30rem;
}

.a4-50rem--height {
  height: 70.7rem;
}

/* -----------------------------------------------------------------------------
   Menu items (dropdowns and links)
   -------------------------------------------------------------------------- */
/* The menu-item container div. This can contain a dropdown button,
   or a simple link.*/
.menu-item {
  display: inline-block;
  position: relative;
}

/* Style similarly either a dropdown button or a simple link.
   The dropdown case accomodate more left padding for a small down
   arrow. */
.menu-dropdown {
  display: inline-block;
  padding: 12px var(--space-xs) 12px calc(var(--space-xs) + 12px);
  color: black;
  cursor: pointer;
}

.menu-link {
  display: inline-block;
  padding: 12px var(--space-xs);
  color: black;
  cursor: pointer;
}

/* Add a small down arrow to the dropdown button. */
.menu-dropdown:before {
  pointer-events: none;
  content: " ";
  position: absolute;
  left: 0.7rem;
  top: 1.1875rem;
  width: 0;
  height: 0;
  border-width: 0.625rem;
  border: 0.3125rem solid black;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* Style the dropdown content. */
.menu-item .menu-dropdown-content {
  position: absolute;
  top: 0.4rem;
  background-color: white;
  min-width: 20ch;
  border: 2px solid #dddddd;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0s 0.2s ease-out;
}

.menu-item a {
  color: black;
  text-decoration: none;
}

.menu-dropdown-content a {
  padding: 12px 16px;
  display: block;
}

.menu-dropdown-content a:hover {
  background-color: #f2f2f2;
}

/* Show the dropdown content when focused. */
.menu-item:focus .menu-dropdown-content {
  transform: translateY(40px);
  visibility: visible;
  opacity: 1;
  transition: 0s 0s ease-out;
}

.menu-link:hover, .menu-dropdown:hover, .menu-item:focus .menu-dropdown {
  background-color: #f9f9f9;
}

/* Mask to close the dropdown by stealing the focus when clicked. */
.menu-item .menu-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.menu-item:focus .menu-mask {
  display: inline-block;
  margin-top: -16px;
  height: 50px;
  background-color: red;
  opacity: var(--menu-mask-opacity, 0);
}

/* Show the menu mask (to make sure it has the same size as the dropdown
   button. (Add this to .menu-mask.) */
.menu-mask--debug {
  --menu-mask-opacity: 0.8;
}

/* -----------------------------------------------------------------------------
   Buttons
   -------------------------------------------------------------------------- */
.c-button {
  appearance: none;
  cursor: pointer;
  border: 2px solid black;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: inline-flex;
}

a.c-button--primary {
  color: white;
  text-decoration: none;
}

a.c-button--secondary {
  color: black;
  text-decoration: none;
}

.c-button--tall {
  padding: 0.625rem 1.25rem 1.875rem;
  justify-content: left;
  vertical-align: top;
}

.c-button span {
  white-space: nowrap;
}

.c-button svg {
  width: 1.125rem;
  height: 1.125rem;
}

.c-button span + svg {
  margin-left: 0.4rem;
}

.c-button--primary {
  background: #000;
  color: #fff;
}
.c-button--primary svg * {
  fill: currentColor;
}
.c-button--primary:hover {
  background: #999;
  border-color: #999;
}
.c-button--primary:active {
  background: #777;
  border-color: #777;
}

.c-button--primary-push:active {
  transform: translateY(2px);
  background: #999;
  border-color: #999;
}

.c-button--secondary {
  background: #fff;
  color: #000;
}
.c-button--secondary svg * {
  fill: currentColor;
}
.c-button--secondary:hover {
  background: #ddd;
  border-color: #000;
}
.c-button--secondary:active {
  background: #999;
  border-color: #000;
}

.c-button--secondary-push:active {
  transform: translateY(2px);
  background: #ddd;
  border-color: #000;
}

.c-input {
  appearance: none;
  height: 2.25rem;
  width: calc(100% - 2px);
  padding: 0.5rem;
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  border-bottom: 1px solid #ddd;
  font-size: inherit;
}
.c-input:focus {
  outline: 0;
  border-color: blue;
  box-shadow: inset 0 0 0 0.0625rem blue;
}

.wrrrap {
  width: 964px;
  margin: 1.4em auto 0 0;
}

.wrrrap iframe {
  border: 2px solid #DDD;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.05rem;
}

.logo a {
  color: black;
}

.breadcrumb {
  color: #555;
}

.mb-entry {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  padding-right: 0.5em;
}

.mb-entry:hover {
  background-color: #F5F5F5;
}

.mb-entry {
  margin-top: 1em;
}

.mb-num {
  width: 3em;
  text-align: right;
  flex-grow: 0;
  flex-shrink: 0;
}

.mb-grow {
  flex-grow: 1;
}

.mb-second-line {
  color: #555;
  margin-top: 0.5em;
}

.mb-second-line--dense {
  color: #555;
  margin-top: 0em;
  display: flex;
  justify-content: space-between;
}

.mb-second-line span {
  margin-left: 4em;
}

.mb-second-line p + p {
  margin-top: -0.3em;
}

h1.mb-title {
  text-indent: 1.8em;
  text-align: justify;
}

.legislation p {
  text-indent: 1em;
}

.legislation p.first {
  text-indent: 3em;
}

.legislation p.second {
  text-indent: 3em;
  margin-top: 0;
}

.article {
  color: #666;
}

.article:after {
  content: "  ";
}

i.mb-i {
  font-style: italic;
}

.menu-item .menu-dropdown-content-mb {
  display: none;
}

.menu-item:focus .menu-dropdown-content-mb {
  display: block;
  padding-left: 2em;
  border-left: 4px solid #DFDFDF;
}

.mb-pairs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  grid-gap: 1em;
}

.mb-pairs dt {
  grid-column-start: 1;
  /* I should separate layouting and styling. */
  font-weight: 500;
}

.mb-pairs dd {
  grid-column-start: span 1;
}

.ad {
  max-width: 20em;
}

.blog-post-details {
  border: 2px solid #e4e4e4;
  padding: 1em;
}

.blog-post-centered-svg svg {
  display: block;
  margin: auto;
}

table.pairs {
  table-layout: fixed;
  width: 100%;
}

table.pairs tr td:first-child {
  font-weight: 500;
  width: 33.3333%;
  padding: 0.5em 0.5em 0.5em 0;
}

table.pairs tr td:last-child {
  width: 66.6667%;
}

table.pairs tr {
  /* Take some space, even without .pairs--border-bottom. */
  border-bottom: 1px solid #fff;
}

table.pairs.pairs--border-bottom tr {
  border-bottom: 1px solid #ddd;
}

table.pairs tr:hover {
  background-color: #efefef;
}

table.table {
  width: 60%;
}

.table td {
  padding: 0.2rem;
}

.tr {
  text-align: right;
}

/* Leader lines. Code from
 * https://markentier.tech/posts/2021/03/responsive-toc-leader-lines-with-css/
 */
.leader-line {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-areas: "a b";
  align-items: end;
  gap: 0 0.25rem;
}

.leader-line-a {
  margin: 0;
  padding: 0;
  grid-area: a;
  position: relative;
  overflow: hidden;
}

.leader-line-a::after {
  position: absolute;
  padding-left: 0.25ch;
  content: " . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . ";
  text-align: right;
}

.leader-line-b {
  grid-area: b;
}

.flow-leader-line > * + * {
  --flow-space: 0.6em;
  margin-top: var(--flow-space);
}

input.no-style {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  padding: 0;
}

.u-container {
  width: 100%;
  min-width: calc(15.1rem - 2 * var(--grid-gutter));
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-container-vertical {
  padding-block: var(--grid-gutter);
}

.u-container-top {
  padding-block-start: var(--grid-gutter);
}

.inset {
  padding: var(--grid-gutter);
}

.box {
  padding: var(--grid-gutter);
  border: 2px solid black;
}

.box--light {
  border: 2px solid #DDD;
}

.u-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u-bar__right ul li {
  display: inline;
  margin-left: var(--space-s);
}

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.switcher > * {
  --measure: 80ch;
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}

.switcher--bigger-left > :first-child {
  flex-grow: 2;
}

.switch-at-60rem > * {
  --measure: 37.5rem;
  flex-basis: calc((var(--measure) - 100%) * 999);
}

.switcher-0px {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 4px 0px;
}

.switcher-0px > * {
  --measure: 40ch;
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}

/* Optional */
